venv/

__pycache__/
*.pyc
*.pyo

project/data/repositories/*
!project/data/repositories/.gitkeep

project/tools/llms/*
!project/tools/llms/.gitkeep

whole_code_experiment/data/repositories/*
!whole_code_experiment/data/repositories/.gitkeep

whole_code_experiment/data/clean_repos/*
!whole_code_experiment/data/clean_repos/.gitkeep

project_aux/*

.env

echo "whole_code_experiment/data/" >> .gitignore
